header, section, footer {
    width: 1305px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    font-family: 'Hind', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    background-color: #0d0c0d;
}

section {
    height: 600px;
}

h3 {
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

header#main-header {
    height: 70px;
    margin-top: 0;
    background-color: rgba(28, 28, 28);
}



nav#nav1 {
    height: 70px;
    width: 1305px;
    background-color: rgba(28, 28, 28, .93);
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.nav-item {
    list-style: none;
    /**background-color: rgba(28, 28, 28, 0.83);**/
    height: 70px;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

ul.navbar-nav {
    height: 100%;
    margin: auto;
    padding: 0;

}

li.nav-item {
    text-align: center;
    
}

a.nav-anchor {
    display: block;
    text-decoration: none;
    color: #fafbfd;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    height: 70px;
    width: 130px;
    text-align: center;
    padding:24px 0px;
    /**margin-left: 10px;**/
    box-sizing: border-box;
    /**background-color: rgba(28, 28, 28, 0);**/
    
}

.nav-anchor:hover {
    background-color: rgb(28, 28, 28);
    position: relative;
    top: 7px;
    left: 7px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px 4px red;
    transition: 0.5s;
}


section#home {
    margin-top: 0px;
    background-image: url(/images/bg-home-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/**imagen anulada puesta como background**/
/**#home img {
   width: 100%;
  object-fit: contain;**/

}

.contenedor-texto-central {
    width: 600px;
    height: 500px;
    /**background-color: lightgray;**/
    display: flex;
    align-items: center;
    margin: auto;
}

.texto-central {
    display: flex;
    /**background-color: lightcoral;**/
    height: 300px;
    width: 600px;
    align-items: center;
    margin: auto;
    padding-top: 150px;
    flex-direction: column;
}

.texto-central h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Hind', sans-serif;
    font-size: 50px;
    color: #ffff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.txt-cntrl-span1 {
    margin-top: 15px;
    font-size: 25px;
    color: #ffff;
    font-family: 'Noto Sans', sans-serif;

}

.txt-cntrl-span2 {
    font-size: 18px;
    color: #ffff;
    margin-top: 10px;

}

#boton-conoceme {
    margin-top: 10px;
    background-color: #c80a48;
    width: 200px;
    height: 60px;
    padding: 18px 18px;
    font-family:'Noto Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: lightgray;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}


section#perfil {
    background-color: #000000;
    height: 900px;
}

.div1perfil {
    /**background-color: salmon;**/
    height: 900px;
    width: calc(100% - 450px);
    float: left;
    margin: 0px;
}

.div1-1perfil {
    /**background-color: lawngreen;**/
    height: 700px;
    width: 650px;
    margin: auto;
    margin-top: 100px;
    padding: 50px 15px;
    box-sizing: border-box;
}

.titulo-seccion {
    color: #ffff;
}

.parrafo-1 {
    color: #ffff;
}

.parrafo-contenido {
    color: #a1a1a1;
}

.div1-1-1perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

span#detalle-contacto {
    color: #ffff;
    font-size: 18px;
    text-transform: uppercase;
    font-family:'Noto Sans', sans-serif;
}

ul.lista-contacto {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
    color: #a1a1a1;
    font-size: 18px;
    line-height: 30px;
}

div.contenedor-descarga-cv {
    margin-top: 60px;
}

a#cv-download {
    text-decoration: none;
    font-family:'Noto Sans', sans-serif;
    text-transform: uppercase;
    color: #ffff;
    background-color: #c80a48;
    width: 225px;
    height: 53px;
    margin: auto;
    padding: 18px 18px;
    box-sizing: border-box;
    border-radius: 10px;
}

span#separador-mini {
    height: 6px;
    width: 30px;
    background-color: #c80a48;
    margin: 24px 0px 0px;
    display: block;
}

.div2perfil {
    background-color: palegreen;
    height: 900px;
    width: 450px;
    float: right;
    margin: 0px;
}

.div2perfil img {
    width: 100%;
    height: 100%;
}

section#portfolio {
    background-color: #ff66cc;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 900px;
}

div#cont-portfolio.container {
    height: 900px;
}

.div2portfolio div {
    height: 350px;
    width: 250px;
}

.div1portfolio {
    height: 100px;
    width: 600px;
    background-color: rgb(9, 51, 105);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2portfolio {
    height: 700px;
    width: 750px;
    background-color: rgb(218, 0, 0);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.div2-1portfolio {
    background-color: darkslateblue;
}

.div2-2portfolio {
    background-color: darkslategray;
}

.div2-3portfolio {
    background-color: deeppink;
}

.div2-4portfolio {
    background-color: firebrick;
}

.div2-5portfolio {
    background-color: goldenrod;
}

.div2-6portfolio {
    background-color: sienna;
}

section#servicios {
    background-color: #ff4d4d;
}

.container {
    height: 600px;
    width: 940px;
    /**background-color: teal;**/
    margin: auto;
}

.div1servicios {
    height: 100px;
    width: 600px;
    background-color: yellow;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2servicios {
    height: 350px;
    width: 900px;
    background-color: darkslateblue;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

section#fortalezas {
    background-color: #ff9966;
}

.div1fortalezas {
    height: 100px;
    width: 600px;
    background-color: rgb(19, 19, 17);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2fortalezas {
    height: 350px;
    width: 900px;
    background-color: rgb(18, 73, 45);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.div2fortalezas div {
    width: 250px;
    height: 150px;
}

.div2-1fortalezas {
    background-color: #ff66cc;
}

.div2-2fortalezas {
    background-color: #03046d;
}

.div2-3fortalezas {
    background-color: #2b703d;
}

.div2-4fortalezas {
    background-color: #dda50d;
}

.div2-5fortalezas {
    background-color: #700505;
}

.div2-6fortalezas {
    background-color: #46d6ca;
}

section#resume {
    background-color: #2204aa;
}

.div1resume {
    height: 100px;
    width: 600px;
    background-color: rgb(102, 102, 10);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2resume {
    height: 350px;
    width: 900px;
    background-color: rgb(110, 107, 133);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

section#referencias {
    background-color: #d44356;
}

.div1referencias {
    height: 100px;
    width: 600px;
    background-color: rgb(228, 108, 10);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2referencias {
    height: 350px;
    width: 900px;
    background-color: rgb(143, 9, 143);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

section#habilidades {
    background-color: #ff0999;
}

.div1habilidades {
    height: 100px;
    width: 600px;
    background-color: rgb(49, 149, 25);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2habilidades {
    height: 350px;
    width: 900px;
    background-color: rgb(70, 17, 3);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

section#conocimientos {
    background-color: #0b940b;
}

.div1conocimientos {
    height: 100px;
    width: 600px;
    background-color: rgb(17, 133, 168);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2conocimientos {
    height: 350px;
    width: 900px;
    background-color: rgb(97, 4, 97);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
} 

section#hitos {
    background-color: #1d727e;
}

.div1hitos {
    height: 100px;
    width: 600px;
    background-color: rgb(89, 6, 97);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2hitos {
    height: 350px;
    width: 900px;
    background-color: rgb(180, 58, 54);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

section#work-process {
    background-color: #a8410e;
}

.div1work-process {
    height: 100px;
    width: 600px;
    background-color: rgb(231, 231, 26);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2work-process {
    height: 350px;
    width: 900px;
    background-color: rgb(194, 191, 211);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

section#contacto {
    background-color: #197cbe;
}

.div1contacto {
    height: 100px;
    width: 600px;
    background-color: rgb(46, 202, 7);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.div2contacto {
    height: 350px;
    width: 900px;
    background-color: rgb(239, 239, 240);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

footer {
    height: 90px;
    background-color: #88c50f;
}





